<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="LojaVirtual" connectionString="metadata=res://*/ComercioVirtual.csdl|res://*/ComercioVirtual.ssdl|res://*/ComercioVirtual.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FILE-PC;initial catalog=LOJA;persist security info=True;user id=sa;password=21293811;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Transformer.NET" publicKeyToken="e274d618e7c603a7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.22883" newVersion="2.1.1.22883" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>